modules = ["nodejs-24", "postgresql-16"]

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "artifacts/doctor-app: expo"

[[workflows.workflow]]
name = "artifacts/doctor-app: expo"
author = "agent"

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "pnpm --filter @workspace/doctor-app run dev"

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[[ports]]
localPort = 8080
externalPort = 8080

[[ports]]
localPort = 8081
externalPort = 80

[[ports]]
localPort = 8082
externalPort = 5173

[[ports]]
localPort = 19222
externalPort = 3000

[[ports]]
localPort = 19223
externalPort = 4200

[[ports]]
localPort = 20116
externalPort = 3002

[[ports]]
localPort = 20117
externalPort = 3003

[[ports]]
localPort = 20118
externalPort = 6000

[[ports]]
localPort = 20119
externalPort = 6800

[[ports]]
localPort = 20120
externalPort = 8000

[[ports]]
localPort = 20130
externalPort = 8008

[[ports]]
localPort = 20131
externalPort = 8099

[[ports]]
localPort = 21160
externalPort = 3001

[[ports]]
localPort = 21161
externalPort = 5000

[userenv]

[userenv.shared]
FIREBASE_API_KEY = "AIzaSyAB8oRHetHbugo8SW6AJgpgh_Zn5DeFRuI"
FIREBASE_AUTH_DOMAIN = "linesetu77.firebaseapp.com"
FIREBASE_PROJECT_ID = "linesetu77"
FIREBASE_STORAGE_BUCKET = "linesetu77.firebasestorage.app"
FIREBASE_MESSAGING_SENDER_ID = "669948564779"
FIREBASE_APP_ID = "1:669948564779:web:5cb0991e9e7a9ed065e16e"
VITE_FIREBASE_API_KEY = "AIzaSyAB8oRHetHbugo8SW6AJgpgh_Zn5DeFRuI"
VITE_FIREBASE_AUTH_DOMAIN = "linesetu77.firebaseapp.com"
VITE_FIREBASE_PROJECT_ID = "linesetu77"
VITE_FIREBASE_STORAGE_BUCKET = "linesetu77.firebasestorage.app"
VITE_FIREBASE_MESSAGING_SENDER_ID = "669948564779"
VITE_FIREBASE_APP_ID = "1:669948564779:web:5cb0991e9e7a9ed065e16e"
EXPO_PUBLIC_FIREBASE_API_KEY = "AIzaSyAB8oRHetHbugo8SW6AJgpgh_Zn5DeFRuI"
EXPO_PUBLIC_FIREBASE_AUTH_DOMAIN = "linesetu77.firebaseapp.com"
EXPO_PUBLIC_FIREBASE_PROJECT_ID = "linesetu77"
EXPO_PUBLIC_FIREBASE_STORAGE_BUCKET = "linesetu77.firebasestorage.app"
EXPO_PUBLIC_FIREBASE_MESSAGING_SENDER_ID = "669948564779"
EXPO_PUBLIC_FIREBASE_APP_ID = "1:669948564779:web:5cb0991e9e7a9ed065e16e"
EXPO_PUBLIC_DOMAIN = "d8479a8d-fa68-4a0e-9145-0243e19272df-00-aspsb1pq2zqb.spock.replit.dev"
EXPO_PUBLIC_RAZORPAY_KEY_ID = "rzp_test_SewlfDwjJCVgm0"
FAST2SMS_API_KEY = "klNS6ABpsaf2PuhRIdW5e91834v7yHoEOKLZgjr0TMQDmcYxiXpBP4e7Qr1kyWoFmAuTKUSG02gbCn6j"
VITE_API_BASE = ""

[nix]
channel = "stable-25_05"
